@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Montserrat-Regular.eot);
    src: url(../font/Montserrat-Regular?#iefix) format('embedded-opentype'),
        url(../font/Montserrat-Regular.woff) format('woff'),
        url(../font/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(../font/Montserrat-Medium.eot);
    src: url(../font/Montserrat-Medium?#iefix) format('embedded-opentype'),
        url(../font/Montserrat-Medium.woff) format('woff'),
        url(../font/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Montserrat-Bold.eot);
    src: url(../font/Montserrat-Bold?#iefix) format('embedded-opentype'),
        url(../font/Montserrat-Bold.woff) format('woff'),
        url(../font/Montserrat-Bold.ttf) format('truetype');
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section, main, audio, video { margin: 0; padding: 0; }

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭 인식*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block;}
button {cursor: pointer; /* outline: none; */ }

/* 익스하위버전에서 이미지 선없애기 */
fieldset, img { border: 0; vertical-align: top; }

/* 리스트 기호 빼기 */
ol, ul { list-style: none; }

/* 태그 기본 기울임꼴 제거 */
address, em { font-style: normal; }
strong { font-weight: normal; }

/* 페이지안에서 가장 많은 링크색 지정 */
a {
    text-decoration: none;
    color: #444;
    /* 모바일 크롬, 사파리에서 클릭 시 색상 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/* iframe으로 외부컨텐츠를 연결했을때 외부컨텐츠안쪽내용이 페이지에 영향을 주지 못하도록 가려줌*/
iframe { overflow: hidden; border: 0; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }

/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; }

textarea { resize: none; }

/* 모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지 */
body { line-height: 1.5; -webkit-text-size-adjust: none; }


/***************************************************
******************** 공통스타일 ********************
***************************************************/
body, input, button, select, textarea, table {
    font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
    font-size: 16px;
    color: #444;
    word-break: break-all;
}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px; }

/* float 해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder 공통 */
::-webkit-input-placeholder { color: #333; }
/* Webkit,크롬,사파리 */
:-moz-placeholder { color: #333; }
/* Firefox 4-18 하위버전 */
::-moz-placeholder { color: #333; opacity: 1; }
/* Firefox 19+ 상위버전 */
:-ms-input-placeholder { color: #333 !important; }

#skipNavi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 5px 0; background: #fff; z-index: 99999; text-align: center; }
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus { top: 0; }

/* 폼요소 공통스타일 */
input[type="text"]::-ms-clear { display: none; }

/* 화살표제거 */
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select::-ms-expand { display: none; } /* 익스11이하 */

/* 버튼 공통 스타일 */
.btn { display: inline-block; text-align: center; }

/* 슬라이더 버튼 loop아닐 때 */
.swiper-button-disabled { opacity: 1 !important; cursor: pointer !important; pointer-events: all !important; }

/* 체크박스 공통 */
.checkbox_wrap { text-align: left; margin-left: 6px; }
.checkbox_wrap input[type="checkbox"]:checked+label:before { background: url(../images/icon_checkbox.png) no-repeat; background-size: 20px; }
.checkbox_wrap label { padding-left: 32px; cursor: pointer; position: relative; }
.checkbox_wrap label:before { content: ''; position: absolute; left: 0; top: 0; width: 20px; height: 20px; border: 2px solid #ddd; border-radius: 5px; }

/* ***************************************** */
/* *********** pd_tit 공통스타일 ************ */
/* ***************************************** */
.pd_tit h4 { font-size: 18px; font-weight: 500; }
.pd_tit p { font-size: 14px; color: #838383; white-space: nowrap; }

#wrap { min-width: 1340px; }

/* 헤더 */
#header { position: fixed; left: 0; top: 0; width: 100%; background: #fff; z-index: 9999; min-width: 1200px; }
#header.on:after { height: 310px; }

/* depth2 배경 */
#header:after { content: ''; position: absolute; left: 0; top: 151px; height: 0; width: 100%; background: rgba(255, 255, 255, 0.95); z-index: 10; transition: height 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

/* gnb 관련 */
#header .gnb { text-align: center; }

#header .gnb .depth1 { display: inline-block; vertical-align: top; /* 버티컬 탑을 줘서 인라인블럭 일 때 높이 맞춰줌*/ }
#header .gnb .depth1>li { float: left; position: relative; }
#header .gnb .depth1>li>a { display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: 500; letter-spacing: -0.05em; line-height: 50px; padding: 0 60px; transition: color 0.4s; }
#header .gnb .depth1>li:hover>a { color: #c49155; }
#header .gnb .depth2 li:hover a { color: #c49155; text-decoration: underline; }

/* depth2 */
#header .bottom_header .gnb .depth2 { position: absolute; left: 60px; top: 50px; padding-top: 25px; width: 100%; height: 310px; text-align: left; z-index: 100; box-sizing: border-box; display: none; }
#header .gnb .depth2 li { padding-bottom: 5px; }
#header .gnb .depth2 li a { line-height: 32px; }

#header .top_header { position: relative; border-bottom: 1px solid #e2e2e2; }
#header .top_header_inner { width: 1180px; height: 100px; margin: 0 auto; position: relative; }
#header .top_header .top_header_inner .logo { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#header .top_header .logo img { width: 80px; height: 67px; }

/* 유틸리티 */
#header .top_header .util_wrap { position: absolute; right: 0; top: 34px; }
#header .top_header .util_wrap>li { float: left; margin-left: 10px; }

/* 검색창 */
#header .top_header .util_wrap .search { position: relative; }

/* 검색버튼 공통 */
.btn_search { width: 32px; height: 32px; background: url(../images/search.png) 50% 50% no-repeat; border: none; text-indent: -9999px; }
#header .top_header .util_wrap .btn_search.on { background: url(../images/search_close.png) 50% 50% no-repeat; }

#header .top_header .util_wrap .search_wrap { position: absolute; right: 100%; top: -5px; width: 210px; display: none; }
#header .top_header .util_wrap .search_wrap.on { display: block; }

/* 통합검색 열기창 */
#header .top_header .util_wrap .search_wrap .btn_search { position: absolute; right: 5px; top: 50%; margin-top: -15px; background: url(../images/search.png) 50% 50% no-repeat; }

/* 폼요소 input 스타일 */
input[type="text"] { height: 40px; width: 100%; border: none; outline: none; }

#header .top_header .util_wrap .search_wrap input[type="text"] { font-size: 14px; background: none; color: #444; border: 1px solid #444; border-radius: 10px; padding: 0 35px 0 10px; box-sizing: border-box; }

/* 로그인 */
#header .top_header .util_wrap .btn_login { display: block; background: url(../images/user.png) 50% 50% no-repeat; width: 32px; height: 32px; text-indent: -9999px; }

/* 언어 설정 */
#header .top_header .util_wrap .lang_wrap { border: 1px solid #ccc; border-radius: 30px; overflow: hidden; transition: border 0.2s; }
#header .top_header .util_wrap .lang_wrap:hover { border: 1px solid #868686; transition: border 0.3s; }
#header .top_header .util_wrap .lang_wrap li:hover { background: #f0f0f0; }
#header .top_header .util_wrap .lang_wrap.on { border-radius: 15px; }
#header .top_header .util_wrap .lang_wrap.on .lang { display: block; padding-bottom: 3px; }
#header .top_header .util_wrap .btn_lang { font-size: 14px; font-weight: 500; width: 80px; height: 30px; background: #fff; outline: none; border: none; text-align: left; padding-left: 14px; }
#header .top_header .util_wrap .btn_lang:after { content: ''; position: absolute; right: 10px; top: 15px; background: url(../images/arrow_bottom.png) no-repeat; width: 8px; height: 5px; z-index: 10; }

/* 언어 설정창 */
#header .top_header .util_wrap .lang_wrap .lang { background: #fff; display: none; }
#header .top_header .util_wrap .lang_wrap .lang a { display: block; color: #868686; font-weight: 400; font-size: 13px; padding-left: 14px; line-height: 26px; }

#header .bottom_header { height: 49px; border-bottom: 1px solid #e2e2e2; }

/* ********************************************** */
/* ****************** container ***************** */
/* ********************************************** */

#container { padding-top: 151px; }

/* 메인 슬라이더 */
/* swiper 라이브러리 사용 */
.main_slider .swiper-slide { height: 500px; min-height: 500px; background: url(../images/main_slide01.png) no-repeat 50% 50%; background-size: cover; }
.main_slider .swiper-slide.slide02 { background-image: url(../images/main_slide02.jpg); }
.main_slider .swiper-slide.slide03 { background-image: url(../images/main_slide03.png); }

/* 슬라이더 페이지네이션 공통 */
.swiper-pagination { width: auto !important; left: 50% !important; bottom: 20px !important; }
.swiper-pagination .swiper-pagination-bullet { width: 12px; height: 12px; background: #fff; margin: 0 5px !important; opacity: 1; transition: width 0.3s; border-radius: 12px; }
.swiper-pagination .swiper-pagination-bullet-active { background: #ba000d; width: 26px; }

/* 슬라이더 토글버튼 */
.main_slider .btn_slider_toggle { position: absolute; left: 50%; bottom: 15px; width: 32px; height: 32px; z-index: 100; border: none; background: none; margin-left: 80px; font-family: 'xeicon'; font-size: 24px; color: #fff; }
.main_slider .btn_slider_toggle .xi-play { display: none; }
.main_slider .btn_slider_toggle.on .xi-pause { display: none; }
.main_slider .btn_slider_toggle.on .xi-play { display: block; }
.main_slider .btn_slider_toggle span { position: absolute; left: 0; top: 0; }

/* 슬라이더 버튼 */
.btn_slider_arrow { background: url(../images/main_arrow_left.png) no-repeat 50% 50%; width: 40px; height: 76px; left: 80px; }
.swiper-button-next { background-image: url(../images/main_arrow_right.png); left: auto; right: 80px; }

/* 메인 product 소개 */
#container .main_product { width: 1180px; margin: 0 auto; height: 474px; position: relative; padding-top: 74px; text-align: center; }
#container .main_product .main_tit { padding-bottom: 54px; text-align: center; }
#container .main_product h3 { display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 700; position: relative; }
#container .main_product h3:before { content: ''; position: absolute; left: -80px; top: 50%; margin-top: -11px; background: url(../images/bg_leaf_left.png) no-repeat; width: 60px; height: 21px; }
#container .main_product h3:after { content: ''; position: absolute; right: -80px; top: 50%; margin-top: -11px; background: url(../images/bg_leaf_right.png) no-repeat; width: 60px; height: 21px; }

/* 메인 product 슬라이드 */
.main_product .menu_slider_wrap { position: relative; }
.con_wrap .menu_slider { position: static; }
.main_product .menu_slider .pd_tit { text-align: center; padding: 14px 0 46px; }
.main_product .menu_slider .img_wrap { height: 180px; padding-top: 30px; }
.main_product .menu_slider .img_wrap img { height: 100%; }

/* 메뉴 슬라이더 좌우버튼 */
.main_product .menu_slider .btn_arrow { width: 50px; height: 50px; background: url(../images/btn_slider_left.png) no-repeat; transition: all 0.2s; left: -100px; }
.main_product .menu_slider .btn_arrow:hover { background-image: url(../images/btn_slider_left_hover.png); transition: all 0.4s; }

.main_product .menu_slider .swiper-button-next { background-image: url(../images/btn_slider_right.png); left: auto; right: -100px; }
.main_product .menu_slider .swiper-button-next:hover { background-image: url(../images/btn_slider_right_hover.png); }

/* 메인product 배경 */
.main_product .menu_slider .bg_product { position: relative; }
.main_product .menu_slider .bg_product:before { content: 'DETAIL VIEW'; position: absolute; left: 50%; top: 50%; transform: translate(-50%, 50%); width: 180px; line-height: 50px; text-align: center; background: #c49155; color: #fff; font-size: 18px; font-weight: 700; font-family: 'Montserrat', sans-serif; z-index: 100; display: none; }
.main_product .menu_slider .bg_product:after { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 1px solid #c49155; box-sizing: border-box; background: rgba(255, 255, 255, 0.5); display: none; }
.main_product .menu_slider .bg_product:hover:before { display: block; transition: all 0.6s; }
.main_product .menu_slider .bg_product:hover:after { display: block; transition: all 0.6s; }

/* 메인 etc메뉴 txt 공통스타일 */
#container .main_etc .txt_wrap h3 { font-size: 34px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff; }
#container .main_etc .txt_wrap p { color: #fff; }

/****** 메인 etc메뉴 ********/
#container .main_etc { width: 1180px; margin: 0 auto; padding: 30px 0 100px 0; }
#container .main_etc .left_etc { float: left; width: 450px; }

#container .main_etc .store_wrap { position: relative; height: 260px; margin-bottom: 10px; background: rgba(0, 0, 0, 0.5) url(../images/bg_store.png) no-repeat; z-index: 10; padding: 40px 30px; box-sizing: border-box; }
#container .main_etc .store_wrap:before { content: ''; position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

/* 매장 검색창 */
#container .main_etc .store_wrap .store_search { margin-top: 40px; }
#container .main_etc .store_wrap .input_wrap { position: relative; width: 300px; }
#container .main_etc .store_wrap .input_search { color: #fff; }
#container .main_etc .store_wrap .input_search::placeholder { color: #fff; }
#container .main_etc .store_wrap .input_search:-ms-input-placeholder { color: #fff !important; }
#container .store_wrap .store_search input[type="text"] { background: none; border: 2px solid #fff; padding-left: 10px; box-sizing: border-box; }
#container .store_wrap .store_search .btn_search2 { width: 42px; height: 36px; position: absolute; right: 0; top: 2px; background: url(../images/search_white.png) 50% 50% no-repeat; outline: none; border: none; text-indent: -9999px; }

/* 창업 안내 */
#container .main_etc .franchise_wrap { background: rgba(0, 0, 0, 0.5) url(../images/bg_franchise.png) no-repeat; height: 260px; position: relative; z-index: 10; padding: 40px 30px; box-sizing: border-box; }
#container .main_etc .franchise_wrap:before { content: ''; position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }
#container .main_etc .franchise_wrap .btn_detail { display: block; text-align: center; width: 130px; line-height: 40px; font-weight: 400; border: none; border-radius: 20px; color: #fff; background: rgba(255, 255, 255, 0.65); margin-top: 40px; }
#container .main_etc .franchise_wrap .btn_detail:hover { color: #444; transition: all 0.7s; background: #fff; }
#container .main_etc .right_etc { float: right; width: 720px; }

/* 유튜브 영상 */
#container .youtube_wrap iframe { width: 100%; height: 405px; }

/* 메인 뉴스*/
#container .news_wrap { background: #fff; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); height: 115px; padding-left: 30px; box-sizing: border-box; }
#container .news_wrap .tit { float: left; font-size: 24px; line-height: 115px; font-weight: 700; color: #ac1a2d; font-family: 'Montserrat', sans-serif; }

/* 메인 뉴스 슬라이드 */
.main_etc .news_slider { float: left; width: calc(100% - 100px); height: 38px; margin-top: 31px; padding: 13px 0; }
.main_etc .news_slider .swiper-slide a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 30px; }
.main_etc .news_slider .swiper-slide a:hover {text-decoration: underline;}

/* 뉴스 좌우버튼 */
.main_etc .btn_con {position: absolute; right: 0; top: 0; z-index: 100;}
.main_etc .btn_con .btn_arrow { position: static; margin: 0; width: 32px; height: 32px; background: url(../images/btn_news_slide_prev.png) no-repeat; background-size: 32px; }
.main_etc .btn_con .swiper-button-next { background-image: url(../images/btn_news_slide_next.png); }

/* 할리스 sns */
#container .main_sns { width: 100%; background: #f2f1ef; padding-top: 92px; }
#container .main_sns .tit_wrap { text-align: center; padding-bottom: 50px; }
#container .main_sns .tit_wrap h3 { display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 34px; font-weight: 700; padding-bottom: 16px; }
#container .main_sns .tit_wrap p { font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 400; color: #838383; }

#container .main_sns .sns_wrap { width: 1180px; margin: 0 auto; padding-bottom: 100px; }
#container .main_sns .sns_wrap .sns_list li { float: left; width: 228px; margin: 0 10px 10px 0; transition: box-shadow 0.6s; position: relative; overflow: hidden; }
#container .main_sns .sns_wrap .sns_list li:hover { box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2); }
#container .main_sns .sns_wrap .sns_list li:hover .img_box { transform: scale(1.1); }
#container .main_sns .sns_wrap .img_box { position: relative; transition: transform .4s; overflow: hidden; height: 228px; }
#container .main_sns .sns_wrap .img_box img { width: 100%; height: 100%; }
#container .main_sns .sns_wrap .sns_list li:nth-child(5) { margin-right: 0px; }
#container .main_sns .sns_wrap .sns_list li:last-child { margin-right: 0px; }

/* ***************** footer **************** */
#footer { border-top: 1px solid #ccc; }
#footer .footer_inner { width: 1180px; margin: 0 auto; padding-bottom: 70px; overflow: hidden; }
#footer .footer_inner .footer_logo { float: left; }
#footer .footer_inner .footer_logo img { padding: 40px 0; }
#footer .footer_inner .footer_list { float: left; margin-left: 40px; padding-top: 30px; }
#footer .footer_inner .footer_menu { padding-bottom: 20px; }
#footer .footer_inner .footer_menu li { display: inline-block; padding-right: 40px; position: relative; }
#footer .footer_inner .footer_menu li+li:before { content: ''; position: absolute; left: -20px; top: 6px; width: 1px; height: 14px; background: #444; }
#footer .footer_inner p.txt { color: #666; font-size: 15px; }
#footer .footer_inner em { font-weight: 500; }
#footer .footer_inner p.copy { color: #838383; padding-top: 20px; }

/* 푸터 sns채널 아이콘 */
#footer .footer_inner .icon_sns { float: right; margin-top: 28px; }

/* 탑버튼 */
#footer .top_wrap { position: fixed; right: 50px; bottom: 50px; width: 54px; z-index: 1000; }
#footer .top_wrap .btn_top { display: block; height: 54px; background: url(../images/top_btn.png) no-repeat 50% 50%; text-indent: -9999px; border-radius: 50%; transition: transform 0.5s; }

/* ******************************************************************* */
/**************************(서브) 공통스타일****************************/
/* ******************************************************************* */

/* 서브메뉴페이지 tit 공통 */
.menu_box { color: #fff; margin-top: 80px; float: left; }
.menu_box h3 { font-size: 30px; padding-bottom: 28px; font-weight: 500; position: relative; }
.menu_box h3:after { content: ''; position: absolute; left: 0; bottom: 14px; width: 270px; height: 1px; background: #fff; }
.menu_box strong { font-size: 18px; padding-bottom: 16px; font-weight: 500; }

.menu_bg_inner { width: 1180px; margin: 0 auto; }

/* 서브메뉴페이지 공통 */
.btn_menu { margin-top: 30px; width: 140px; height: 40px; border: 1px solid #fff; border-radius: 30px; background: none; color: #fff; transition: all 0.3s; }
.btn_menu:hover { background: #fff; color: #868686; transition: all 0.3s; }

/* 서브메뉴 배경 공통 */
.menu_container .menu_bg { width: 100%; height: 400px; background: url(../images/menu_bev.png) no-repeat 50%; }

/* 서브 lnb메뉴 공통*/
.lnb_wrap { text-align: center; background: rgba(0, 0, 0, 0.1); width: 100%; position: absolute; left: 0; bottom: 0; }
.lnb_wrap .lnb { display: inline-block; vertical-align: top; }
.lnb_wrap .lnb li { float: left; margin: 0 40px; position: relative; }
.lnb_wrap .lnb li:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 3px; background: #ac1a2d; transition: all 0.5s; }
.lnb_wrap .lnb li:hover:after { display: block; width: calc(100% + 20px); left: -10px; }
.lnb_wrap .lnb li.active:after { display: block; width: calc(100% + 20px); left: -10px; }
.lnb_wrap .lnb li a { display: block; line-height: 60px; color: #fff; font-size: 18px; }

/* 서브 pagination 공통 */
.pagination { text-align: center; margin-top: 70px; }
.pagination .inner { display: inline-block; vertical-align: top; cursor: pointer; }
.pagination .page { float: left; margin: 0 10px; }
.pagination .page strong,
.pagination .page a { padding: 0 10px; line-height: 32px; }
.pagination .prev { float: left; }
.pagination .page a:hover { color: #ac1a2d; }
.pagination .page strong { color: #ac1a2d; font-weight: 500; }

/**************************(서브) 메뉴페이지****************************/
/* 음료 */
.menu_container .menu_bg.bev { background-image: url(../images/menu_bev.png); }

/* 베이커리 */
.menu_container .menu_bg.bakery { background-image: url(../images/menu_bakery.png); }
.menu_container .bakery .menu_box { color: #868686; float: right; }
.menu_container .bakery .menu_box h3:after { background: #868686; }
.menu_container .bakery .btn_menu { border: 1px solid #868686; color: #868686; }
.menu_container .bakery .btn_menu:hover { background: #868686; color: #fff; }

/* MD상품 */
.menu_container .menu_bg.md { background-image: url(../images/menu_md.png); }

/*********************(서브) 베이커리 메뉴************************/
/* 서브비주얼 공통 */
.sub_visual { height: 330px; background: url(../images/bakery_visual01.png) no-repeat 50%; position: relative; }
.sub_visual .tit { text-align: center; padding-top: 100px; }
.sub_visual .tit h2 { font-size: 50px; font-weight: 700; color: #fff; margin-bottom: 4px; }
.sub_visual .tit p { font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 500; color: #fff; }

.contents_inner { width: 1180px; margin: 0 auto; padding-bottom: 90px; }

/* 해시태그 */
.bakery_container .tag_wrap { text-align: center; }
.bakery_container .tag_wrap .tag { display: inline-block; vertical-align: top; padding: 70px 0; }
.bakery_container .tag_wrap li { float: left; text-align: center; width: 108px; margin: 0 10px; border: 1px solid #e8e8e8; border-radius: 20px; }
.bakery_container .tag_wrap li p { line-height: 40px; font-weight: 500; color: #666666; }

/* 제품 자세히보기 */
.bakery_container .bakery_detail { background: url(../images/bakery_detail_bg.png) no-repeat 50%; padding: 50px; overflow: hidden; width: 1180px; margin: 0 auto; box-sizing: border-box; }
.bakery_container .bakery_detail .img_box { float: left; width: 400px; height: 400px; background: #fff; text-align: center; }
.bakery_container .bakery_detail .img_box img { padding-top: 40px; }
.bakery_container .bakery_detail .txt_box { float: left; margin: 20px 0 0 60px; }
.bakery_container .bakery_detail .txt_box h3 { font-size: 34px; }
.bakery_container .bakery_detail .txt_box strong { font-family: 'Montserrat', sans-serif; color: #c69e6e; font-weight: 500; }
.bakery_container .bakery_detail .txt_box>p { color: #666666; padding: 28px 0 40px; }

/* 영양정보표 */
.bakery_container .nutri_info_wrap .nutri_tit { position: relative; height: 30px; padding: 0 0 4px 36px; }
.bakery_container .nutri_info_wrap .nutri_tit:before { content: ''; position: absolute; left: 0; top: 0; background: url(../images/icon_nutri.png) no-repeat; width: 29px; height: 30px; }
.bakery_container .nutri_info_wrap .nutri_tit h3 { float: left; font-size: 18px; color: #666; }
.bakery_container .nutri_info_wrap .nutri_tit p { float: right; color: #868686; }

/* 영양정보표 테이블 */
.bakery_container .nutri_info { border-top: 1px solid #666666; width: 510px; }
.bakery_container .nutri_info thead th { width: 20%; height: 42px; background: #f7f7f7; color: #666666; border: 1px solid #eee; border-bottom: none; }
.bakery_container .nutri_info td { color: #868686; text-align: center; background: #fff; height: 42px; border: 1px solid #eee; }
.bakery_container .nutri_info_wrap .txt { font-size: 14px; color: #666666; padding-top: 10px; }
.bakery_container .nutri_info_wrap .txt p { color: #868686; }

/****************** 상품목록 ***********************/
.bakery_container .pd_list_wrap { margin-top: 40px; }
.bakery_container .pd_list_wrap .pd_list { overflow: hidden; }
.bakery_container .pd_list_wrap .pd_list li { float: left; width: 286px; height: 360px; text-align: center; margin-bottom: 12px; position: relative; }
.bakery_container .pd_list_wrap .pd_list li+li { margin-left: 12px; }
.bakery_container .pd_list_wrap .pd_list li:nth-child(5) { margin-left: 0; }
.bakery_container .pd_list_wrap .pd_list li:nth-child(9) { margin-left: 0; }

/* 상품 호버시 상품설명 */
.bakery_container .pd_list_wrap .pd_list li .over_box { position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 50px 20px 0; letter-spacing: -0.03em; border: 1px solid #c49155; background: rgba(255, 255, 255, 0.85); box-sizing: border-box; word-break: keep-all; word-wrap: break-word; opacity: 0; transition: opacity 0.3s; }
.bakery_container .pd_list_wrap .pd_list li .over_box:before { content: 'DETAIL VIEW'; position: absolute; left: 50%; bottom: 30px; margin-left: -90px; width: 180px; line-height: 50px; text-align: center; background: #c49155; color: #fff; font-size: 18px; font-weight: 700; font-family: 'Montserrat', sans-serif; z-index: 10; display: none; }
.bakery_container .pd_list_wrap .pd_list li:hover .over_box { opacity: 1; }
.bakery_container .pd_list_wrap .pd_list li:hover .over_box:before { display: block; }

.bakery_container .pd_list_wrap .pd_list .over_box h3 { font-size: 20px; color: #444; }
.bakery_container .pd_list_wrap .pd_list .over_box em { font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 500; color: #cdb082; }
.bakery_container .pd_list_wrap .pd_list .over_box p { padding: 20px 0 0 20px; text-align: left; color: #666; }

/* 상품이름 */
.bakery_container .pd_list_wrap .pd_list li .tit_box { position: absolute; left: 50%; bottom: 50px; transform: translate(-50%, 0); }
.bakery_container .pd_list_wrap .pd_list li .tit { padding-top: 36px; white-space: nowrap; font-size: 20px; }

/* 상품 목록 더보기 */
.bakery_container .pd_list_wrap .btn_more { padding-top: 40px; text-align: center; }
.bakery_container .pd_list_wrap .btn_more a { display: inline-block; width: 160px; line-height: 50px; background: #ac1a2d; border-radius: 30px; color: #fff; font-weight: 500; padding-right: 20px; position: relative; }
.bakery_container .pd_list_wrap .btn_more a:after { content: ''; position: absolute; right: 40px; top: 22px; width: 16px; height: 9px; background: url(../images/icon_more.png) no-repeat; }

/*************(서브) 공지사항 ***********/
.notice_container .sub_visual { background-image: url(../images/notice_visual01.png);}
.notice_container .sub_visual .tit { padding-top: 80px; }
.notice_container .sub_visual .lnb_wrap .lnb li a { font-family: 'Montserrat', sans-serif; font-weight: 500; }

/* 공지사항 검색 */
.notice_container .contents .notice_search { padding: 40px 0; overflow: hidden; }
.notice_container .contents .notice_search .search_wrap { float: right; }
.notice_container .contents .notice_search .select_wrap { display: inline-block; position: relative; width: 110px; margin-right: 4px; border: 1px solid #ddd; }
.notice_container .contents .notice_search .select_wrap select { width: 100%; outline: none; border: none; height: 40px; padding-left: 20px; position: relative; z-index: 10; background: none; }
.notice_container .contents .notice_search .select_wrap:after { content: ''; position: absolute; right: 12px; top: 50%; width: 8px; height: 5px; background: url(../images/arrow_bottom.png) no-repeat; }

.notice_container .contents .notice_search .input_wrap { display: inline-block; position: relative; width: 200px; border: 1px solid #ddd; padding: 0 40px 0 10px; box-sizing: border-box; }
.notice_container .contents .notice_search input[type="text"] { width: 100%; height: 40px; }
.notice_container .contents .notice_search .btn_notice { position: absolute; right: 0; top: 0; width: 40px; height: 40px; background: url(../images/search.png) 50% 50% no-repeat; text-indent: -9999px; border: none; }

/* 공지사항 테이블 */
.tbl_board_wrap { border-top: 1px solid #666; }
.tbl_board_wrap table { table-layout: fixed; }
.tbl_board_wrap thead th { height: 60px; border-bottom: 1px solid #eee; background: #f7f7f7; }
.tbl_board_wrap thead th.th01 { width: 10%; }
.tbl_board_wrap thead th.th03 { width: 15%; }
.tbl_board_wrap td { height: 60px; text-align: center; border-bottom: 1px solid #eee; }
.tbl_board_wrap td.left_td { text-align: left; }
.tbl_board_wrap td.left_td a:hover { text-decoration: underline; }
.tbl_board_wrap .link { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: inline-block; max-width: 80%; }

/* 로그인 창 */
.login_container .contents_inner { width: 430px; text-align: center; padding-top: 70px }
.login_container .tit { padding-bottom: 50px; }
.login_container .tit h3 { font-size: 34px; font-weight: 700; }
.login_container .tit p { margin-top: 26px; color: #868686; }
.login_container .contents .input_wrap input { display: block; width: 100%; height: 60px; outline: none; border: none; border-radius: 10px; background: #f5f5f5; padding-left: 15px; box-sizing: border-box; margin-bottom: 10px; }
.login_container .contents .member_info { display: inline-block; padding-top: 20px; }
.login_container .contents .member_info li { float: left; }
.login_container .contents .member_info li+li { padding-left: 24px; position: relative; }
.login_container .contents .member_info li+li:before { content: ''; position: absolute; left: 12px; top: 6px; width: 1px; height: 16px; background: #dddddd; }
.login_container .contents .btn_login { width: 100%; height: 60px; background: #d91226; color: #fff; border: none; outline: none; margin-top: 40px; border-radius: 10px; }

/* 로그인 etc */
.login_container .contents .login_etc { padding: 40px 0; }

.login_container .contents .sns { background: url(../images/btn_facebook.png) no-repeat 50% 50%; background-size: 60px; width: 60px; height: 60px; border: none; outline: none; margin: 0 4px; }
.login_container .contents .login_etc .btn_naver { background-image: url(../images/btn_naver.png); }
.login_container .contents .login_etc .btn_kakao { background-image: url(../images/btn_kakao.png); }

/* 매장찾기 */
.store_container .sub_visual {background-image: url(../images/store_visual01.png); }
.store_container .sub_visual .tit { padding-top: 80px;}
.store_container .sub_visual .tit p { font-family: 'Noto Sans KR', sans-serif; font-weight: 400; }

/* 매장검색 */
.store_container .contents .store_search { background: #f8f8f8; padding: 40px; margin: 20px 0; }
.store_container .contents .store_search .tit { display: inline-block; margin-right: 60px; font-size: 18px; font-weight: 500; line-height: 42px; }
.store_container .contents .store_search .select_wrap { position: relative; display: inline-block; width: 230px; margin-right: 4px; border: 1px solid #ddd; background: #fff; vertical-align: top; }
.store_container .contents .store_search .select_wrap select { width: 100%; outline: none; border: none; height: 40px; padding-left: 20px; position: relative; background: none; z-index: 10; }
.store_container .contents .store_search .select_wrap:after { content: ''; position: absolute; right: 12px; top: 50%; width: 8px; height: 5px; background: url(../images/arrow_bottom.png) no-repeat; }
.store_container .contents .store_search input[type="text"] { width: 100%; height: 40px; }
.store_container .contents .store_search .input_wrap { display: inline-block; position: relative; width: 451px; border: 1px solid #ddd; padding: 0 40px 0 20px; box-sizing: border-box; background: #fff; vertical-align: top; }
.store_container .contents .store_search .btn_store { position: absolute; right: 0; top: 0; width: 40px; height: 40px; background: url(../images/search.png) 50% 50% no-repeat; text-indent: -9999px; border: none; }

/* 옵션으로 검색 */
.store_container .contents .option_info .tit { display: inline-block; margin-right: 27px; line-height: 54px; }
.store_container .contents .option_info .option_list_wrap { margin-top: 8px; }

.store_container .contents .option_info .check_option { display: inline-block; width: 180px; position: relative; box-sizing: border-box; }
.store_container .contents .option_info .check_option + .check_option { margin-left: 4px; }
.option_info .check_option input[type="checkbox"]:checked + label { border-color: #868686;}
.option_info .check_option label:before { content: ''; position: absolute; left: 7px; top: 50%; margin-top: -20px; width: 40px; height: 40px; background: url(../images/icon_option_parking.png) no-repeat 50% 50%; background-size: 30px; }
.option_info .check_option label { display: block; border: 1px solid #ddd; cursor: pointer; line-height: 54px; background: #fff; text-align: center; }
.option_info .check_option .check02:before { background-image: url(../images/icon_option_wifi.png);}
.option_info .check_option .check03:before { background-image: url(../images/icon_option_newstore.png);}
.option_info .check_option .check04:before { background-image: url(../images/icon_option_everyopen.png);}
.option_info .check_option .check05:before { background-image: url(../images/icon_option_drive.png);}

.option_info .check_option input[type="checkbox"]:checked + .check01:before { background-image: url(../images/icon_option_parking_on.png); }
.option_info .check_option input[type="checkbox"]:checked + .check02:before { background-image: url(../images/icon_option_wifi_on.png); }
.option_info .check_option input[type="checkbox"]:checked + .check03:before { background-image: url(../images/icon_option_newstore_on.png); }
.option_info .check_option input[type="checkbox"]:checked + .check04:before { background-image: url(../images/icon_option_everyopen_on.png); }
.option_info .check_option input[type="checkbox"]:checked + .check05:before { background-image: url(../images/icon_option_drive_on.png); }

/* 매장찾기 지도 */
.store_container #map { height: 700px; }
#map .info { width: 298px; padding-bottom: 15px; border: 1px solid #444; border-radius: 20px; background: #fff; white-space: normal; margin-top: -90%; position: relative; }
#map .info:after { content: ''; position: absolute; left: 50%; bottom: -11px; margin-left: -10px; width: 20px; height: 20px; background: #fff; border: 1px solid #444; border-top: none; border-right: none; transform: rotateZ(-45deg); }
#map .info .top_info { height: 54px; }
#map .info .top_info h3 { float: left; display: block; color: #333; font-size: 18px; font-weight: 500; padding: 12px 0 0 23px; letter-spacing: -0.03em; }
#map .info .top_info .btn_close { float: right; width: 54px; height: 54px; background: url(../images/btn_close.png) no-repeat 50% 50%; text-indent: -9999px; border: none; }
#map .info .mid_info { padding: 23px; font-size: 13px;}
#map .info .mid_info dt {float: left; color: #444;}
#map .info .mid_info dd { padding-left: 70px; color: #868686; margin-bottom: 5px; }
#map .info .bottom_info { text-align: center; border-top: 1px solid #ddd; margin: 0 23px; padding-top: 12px; }
#map .info .bottom_info .btn_detail { display: inline-block; line-height: 25px; display: inline-block; color: #444; font-weight: 500; letter-spacing: -0.045em; }
#map .info .bottom_info .btn_detail:after { content:''; display: inline-block; width: 25px; height: 25px; background: url(../images/btn_detail.png) no-repeat; vertical-align: top; margin-left: 10px; }

.store_container .contents .total { text-align: center; padding: 60px 0; }
.store_container .contents .total p { font-size: 26px; }
.store_container .contents .total strong { color: #ac1a2d;}

/* 매장찾기 검색목록 */
.store_container .contents .list_wrap { border-top: 1px solid #666;}
.store_container .contents .list_wrap table { table-layout: fixed; }
.store_container .contents .list_wrap thead th { height: 60px; border-bottom: 1px solid #eee; background: #f7f7f7; }
.store_container .contents .list_wrap thead th.th01 { width: 17%; }
.store_container .contents .list_wrap thead th.th02 { width: 20%; }
.store_container .contents .list_wrap thead th.th03 { width: 45%; }
.store_container .contents .list_wrap td { height: 60px; text-align: center; border-bottom: 1px solid #eee; }
.store_container .contents .list_wrap td.left_td { text-align: left; }
.store_container .contents .list_wrap td.left_td a:hover { text-decoration: underline; }
.store_container .contents .list_wrap .link { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: inline-block; max-width: 80%; }

/* (서브)가맹문의 및 절차 */
.franchise_step_container .sub_visual { background: url(../images/franchise_visual01.png) no-repeat 50% 50%; background-size: 1920px; }
.franchise_step_container .contents .contents_inner { width: 100%; background: #eee; padding: 40px 0; margin-top: 40px; }
.franchise_step_container .contents .step { margin-top: 40px; width: 1180px; margin: 0 auto; padding: 20px 0; }
.franchise_step_container .contents .step ul { position: relative; z-index: 10; height: 525px; }
.franchise_step_container .contents .step ul:after { content:''; position: absolute; left: 0; top: 58px; width: 98%; height: 318px; box-sizing: border-box; border: 8px solid #fff; border-left: 0; border-radius: 0 160px 160px 0; -webkit-border-radius: 0 160px 160px 0; z-index: -1; }
.franchise_step_container .contents .step li {float: left; width: 25%; min-height: 225px; position: relative;}
.franchise_step_container .contents .step li:after { content: ''; position: absolute; right: 50%; top: 45px; margin-right: -80px; width: 34px; height: 34px; background: url(../images/icon_step_arrow.png) no-repeat 50% 50%; }
.franchise_step_container .contents .step .step4:after { right: 0; top: 200px; margin-right: 12px; transform: rotate(90deg); -webkit-transform: rotate(90deg); }
.franchise_step_container .contents .step .step5:after {background: none;}

.franchise_step_container .contents .step .step6:after,
.franchise_step_container .contents .step .step7:after,
.franchise_step_container .contents .step .step8:after { transform: rotate( 180deg ); -webkit-transform: rotate( 180deg ); }
.franchise_step_container .contents .step li+li+li+li+li { float: right; margin-top: 78px; }
.franchise_step_container .contents .step li p {text-align: center; width: 124px;}
.franchise_step_container .contents .step li p:before { content: ''; display: block; width: 124px; height: 124px; margin-bottom: 20px; background: #fff url(../images/icon_step01.png) no-repeat; }
.franchise_step_container .contents .step li.step2 p:before { background-image :url(../images/icon_step02.png); }
.franchise_step_container .contents .step li.step3 p:before { background-image :url(../images/icon_step03.png); }
.franchise_step_container .contents .step li.step4 p:before { background-image :url(../images/icon_step04.png); }
.franchise_step_container .contents .step li.step5 p:before { background-image :url(../images/icon_step05.png); }
.franchise_step_container .contents .step li.step6 p:before { background-image :url(../images/icon_step06.png); }
.franchise_step_container .contents .step li.step7 p:before { background-image :url(../images/icon_step07.png); }
.franchise_step_container .contents .step li.step8 p:before { background-image :url(../images/icon_step08.png); }

.franchise_step_container .contents .step li span { color: #ba000d; display: block; margin-bottom: 16px; }
.franchise_step_container .contents .step li strong { display: block; }
